<p>The sponsor for this project was Jim Craft, a [jim's title..?] at LASP.</p>
<p>The Laboratory for Atmospheric and Space Physics (LASP) is a full-cycle space institute, combining all aspects of space exploration through our expertise in science, engineering, mission operations, and scientific data analysis. LASP is an institute at the University of Colorado at Boulder (CU).</p>

<p>LASP began in 1948, a decade before NASA, to develop a stabilized platform for instruments launched aboard sub-orbital rockets. LASP addresses key questions in:</p>
<p>Solar Influences</p>
<p>Atmospheric Science</p>
<p>Planetary Physics</p>
<p>Space Physics</p>

<p>LASP focuses on the study of Earth’s atmosphere, the sun, and the solar system. LASP is the world’s only research institute to have sent instruments to all eight planets and Pluto.</p>

<p>As part of CU, LASP works to educate and train the next generation of space scientists, engineers and mission operators. Undergraduate and graduate students are integrated into working teams at LASP. Our students take their unique experiences with them into government or industry, or remain in the academic environment to continue the cycle of exploration.</p>

<p>LASP’s vision is to identify and address key questions in solar influences, atmospheric, planetary and space sciences. *</p>

<hr> 
<%= link_to "http://lasp.colorado.edu/home/" do %>
	Visit LASP <%= image_tag "external_link_icon.gif" %>
<% end %>	