<p><b>Don England</b> - Unity<p>
<p><b>Jeff Hyatt</b> - Unity<p>
<p><b>Connor Janowiak</b> - Unity, Web API interface<p>
<p><b>Chris McClaskey</b> - Database, Server, Web API<p>
<p><b>Jacob Rieger</b> - Unity<p>
<p><i>You might have noticed the lack of a front-end web developer</i></p>