<h1>About</h1>
<br/>
<p>Cassini Spacecraft Viewer is an interactive visualization of the Cassini Spacecraft and the actual data that it receives. It was built with Unity3D game engine and Ruby on Rails.
</p>
Learn more about Cassini at:
	<li><%= link_to "Wikipedia", "http://en.wikipedia.org/wiki/Cassini%E2%80%93Huygens" %></li>
	<li><%= link_to "NASA", "http://www.nasa.gov/mission_pages/cassini/main/index.html" %></li>
</br>
<h2>Team Members:</h2>
<p><b>Don England</b> - Unity<p>
<p><b>Jeff Hyatt</b> - Unity<p>
<p><b>Connor Janowiak</b> - Unity, Web API interface<p>
<p><b>Chris McClaskey</b> - Database, Server, Web API<p>
<p><b>Jacob Rieger</b> - Unity<p>
<p><i>You might have noticed the lack of a front-end web developer</i></p>
