<h1 align="left"> Cassini Spacecraft Viewer is an interactive simulation of the Saturnian system and the real data that Cassini sends us.  Please visit our <%= link_to "about page", "about" %> to learn more.</h2>

</br>
</br>
</br>
<p><%= link_to "Start the Viewer", "play", :target => "_blank", :class => 'btn-xtralarge' %></p>
</br>
</br>
</br>
		

